/**
 ** Designed to override default Bootstrap style utilities.
 **
 ** Author: Steve Razzano
**/
.nav__custom {
  transition: all .25s ease-in-out !important;
  &:hover {
    text-decoration: underline
  }
}

.jumbotron__custom {
  background-color: $rcg-green;
  opacity: 50;
}

/**
 ** RCG Custom Text Container Styles
**/
.rcg__media__list--main {
  line-height: 1.7;
  letter-spacing: .8px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  
  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}
.rcg__header {
  font-weight: 600;
  font-size: 2.5em;
  padding-bottom: 10px;
  letter-spacing: 3px;
  border-bottom: 3px solid var(--rcg-dark);
  text-transform: uppercase;
}
.rcg__paragraph {
  line-height: 2;
  letter-spacing: 1.2px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}